<!-- <app-click-pts [clickCountPoints]="button.clickCount"></app-click-pts> -->
<!-- <app-coins [clickCountCoins]="button.Coins"></app-coins> -->
<!-- <app-click-button #button></app-click-button>  -->

<!-- button is sender 
    points is the reciever-->
    

 
<div class="grid grid-cols-3 grid-rows-4 gap-6 content-center">
    <div class="col-start-2 row-start-3"><app-click-button #button></app-click-button> </div>
    <div class="col-start-2 row-start-1"><app-click-pts [clickCountPoints]="button.clickCount"></app-click-pts>
    </div>
    <div class="col-start-2 row-start-2">image here</div>
    <div class="row-start-4"><app-coins [clickCountCoins]="button.Coins"></app-coins></div>
</div>
    
        